div.items{
    position: relative;
    margin: 0 auto;
    top: -150px;
    padding-left: 24px;
    background-color: white;
}
div.wrapper{
    margin-top: 24px;
    display: flex;
    overflow-x: auto;
}
div.wrapper::-webkit-scrollbar{
    width: 0;
}
div.petrol-item{
    width: 200px;
    height: 240px;
    left: 24px;
    top: 740px;
    
    background: #FFFFFF;
    /* Grey 08 */
    
    border: 1px solid #F1F1F5;
    /* Shadow - Low */
    margin-right: 24px;
    margin-bottom: 48px;
    box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
    border-radius: 4px;
}

div.petrol-items h1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
div.item{
    display: block;
    width: 199px;
    height: 98px;
    left: 0.88px;
    top: 2px;
    border-radius: 4px 4px 0px 0px;
}
/* div.item:last-child{
    margin-left: 24px;
} */
div.item-content{
    padding-left: 16px;
    padding-right: 16px;
}
div.item-content p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
    color: #0062FF;
    padding-bottom: 8px;
}
div.item-content span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.005em;
    /* Grey 04 */
    color: #92929D;
}
#readed{
    background: url('../../assets/images/readed-icon.jpg') no-repeat left center;
    background-size: 16px;
    padding-left: 22px;
    color: #696974;
}